<!DOCTYPE html><html lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id='meta-img' property="og:image" content="">
    <meta id='meta-title' property="og:title" content="Random Coco">
    <meta id='meta-desc' property="og:description" content="Your daily dose of Asacoco!">
    <meta name="twitter:card" content="summary">
    <title>Random Coco</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
    <body>
        <div class='scrolling-bg'></div>
        <main>
            <div id='main-container' class='center-align row'>
                <div id='navbar' class='center-align row'>
                    [<span id='navbar-home'><a href='/'>home</a></span>] - 
                    [<span id='navbar-search'><a href='/search'>search</a></span>] - 
                    [<span id='navbar-about'><a href='/about'>about</a></span>] -
                    [<span id='navbar-affiliates'><a href='/affiliates'>affiliate sites</a></span>] 
                </div>
                <div id='alert-container' class='row'>
                    <div id='alert-text' class='standard-width'>
                        <img id='alert-img' class='alert-icon' src="img/24mo_highres.png"/>
                        <h2 id='alert-title'>GMMF!</h2>
                        <div id='alert-desc'>
                            Come get your daily dose of <b>Asacoco</b>! Hit <b>Random</b> 
                            to watch a clip of everyone's favorite gangimari dragon.
                            <br>
                            <br>
                            If you have a clip you'd like to submit to our library of <span><b><span id='video-count'>100</span></b> clips, or just want to suggest additional tags for an existing clip, 
                            please fill out our <a target=# href='https://docs.google.com/forms/d/e/1FAIpQLSc8cr0nRAxYLr1tglCW9jX-m-KgUVSdC3Msf_90-62Cd9R1ag/viewform?usp=sf_link'>
                            Google Form</a>.
                        </div>
                    </div>
                </div>
                <div id='list-container' class='row'>
                    <div id='list-content' class='standard-width row'>
                        <form method="GET" enctype="multipart/form-data">
                            <input type="text" id="search" name="search" placeholder="Search for a clip...">
                            <button id='search-button' class='buttons' type="submit" value="Search">SEARCH</button>
                        </form>
                        <div class=row>
                            <span><b><span id='video-count'>100</span></b> clips found!</span>
                        </div>
                        <div class='row'>
                            <ul id='list'>

                            </ul>
                        </div>
                        <div class='center-align row'>
                            [<span><a id='page-previous' href='/search'>back</a></span>] - 
                            [<span id='page-count'>page 1/1</span>] - 
                            [<span><a id='page-next' href='/search'>next</a></span>] 
                        </div>
                    </div>
                </div>
                <div id='video-container' class='row'>
                    <div id='video-content' class='standard-width row border-box' width="520" height="315">
                        <div id='video-background' class='center-align'>
                            <span id='video-question-mark'>?</span>
                        </div>
                        <iframe id='video-iframe' class='hide' width="520" height="315" src="" 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                    <div class='row center-align no-wrap'>
                        <img src='../img/horn_left.png'/>
                        <div>
                            <select class ='row buttons dropdowns' name='language' id='language'>
                                <option value="" disabled selected hidden>Preferred Language</option>
                                <option value="any">Any</option>
                                <option value="english">English</option>
                                <option value="japanese">Japanese</option>
                                <option value="shitty-japanese">Shitty Japanese</option>
                              </select>
                            <button class='row buttons' id='random-button' onclick=rollRandom() type="button">RANDOM</button>
                        </div>
                        <img src='../img/horn_right.png'/>
                    </div>
                    <div id='tags' class='row'><span><b>video tags: </b><span id='video-tags'>. . .</span></span></div>
                    <div class='row'><span><b>lovingly submitted by: </b><span id='video-submitters'>. . .</span></span></div>
                </div>
                <div id='affiliates-container' class='row'>
                    <ul>
                        <li>
                            <span>
                                <b><a href='https://thestrongestluknight.com/' target=blank>"The Strongest Luknight"</a></b>
                                <div>
                                    A compilation of well-wishes and video clips from Himemori Luna's vanguard, the Luknights!
                                </div>
                            </span>
                        </li>
                        <li>
                            <span>
                                <b><a href='https://arigathanks.manotomo.com/home' target=blank>"Thank You Coco"</a></b>
                                <div>
                                    A collection of messages and other incredible fan-works from the Hololive MASS server!
                                </div>
                            </span>
                        </li>
                        <li>
                            <span>
                                <b><a href='https://kcgp.tw/jp' target=blank>Kiryu Coco Graduation Project</a></b>
                                <div>
                                    Kiryu Coco Graduation Project is an event held by Taiwanese fans, 
                                    in order to commemorate wonderful lives and great times Kaichou spent with us over the past two years. 
                                    Features, English, Japanese and Chinese language translations.
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='footer'>
                <!-- footer -->
            </div>
        </main>
    </body>
    <script src='../js/app.js'></script>
</html>